/**
*    Root variables
*/
$css-outliner-: "For faster autocomplete";
$css-outliner-font-family: 'Poppins', sans-serif !important;
$css-outliner-items-hover-scale: 1.1;
$css-outliner-background-color-dark-mode: rgba(34, 36, 41, 1);
$css-outliner-background-color-light-mode: rgba(235, 235, 235, 1);
$css-outliner-blue: rgba(38, 77, 228, 1);
$css-outliner-light-blue: rgba(41, 101, 241, 1);
$css-outliner-gray: rgba(235, 235, 235, 1);
$css-outliner-white: rgba(255, 255, 255, 1);
$css-outliner-black: rgba(0, 0, 0, 1);
$css-outliner-blue-dark-mode: rgba(38, 77, 228, 1);
$css-outliner-light-blue-dark-mode: rgba(41, 101, 241, 1);
$css-outliner-gray-dark-mode: rgba(235, 235, 235, 1);
$css-outliner-buttons-hover-background-dark-mode: rgba(255,255,255, .08);
$css-outliner-buttons-hover-background-light-mode: rgba(255,255,255, 1);
$css-outliner-content-transition: .3s;
$css-outliner-windows-title-font-w: 600;
$css-outliner-text-icons-color-dark-mode: rgba(188, 201, 219, 1);


/**
*    Popup window
*/
$popup-width: 360px;
$popup-height: 600px;
$popup-default-font-w: 400;
$popup-font-size: 17;
$popup-dark-mode-background: linear-gradient(165.59deg, #2f3136 13.65%, #121416 81.89%), #ffffff;
$popup-light-mode-background: linear-gradient(165.59deg, #2f3136 13.65%, #121416 81.89%), #ffffff;
$css-outliner-border-radius: 24px;


/**
*    Content
*/
$content-center-ping-loading-transform: scale(.8);
$content-circles-background-color: #000;
$content-circle-border-radius: 100%;
$content-circle-transform: translate(-50%,-50%);
//Circles child1
$content-circles-child1-radius: 214px;
$content-circles-child1-border: 1px solid rgba(197,211,206,.1);
//Circles child2
$content-circles-child2-radius: 308px;
$content-circles-child2-border: 1px solid rgba(197,211,206,.05);
//Circles child3
$content-circles-child3-radius: 388px;
$content-circles-child3-border: 1px solid rgba(197,211,206,.02);

//Start Button
$css-outliner-start-button-color-light: rgb(38, 160, 218);
$css-outliner-start-button-color-light-moz: -moz-linear-gradient(180deg, rgba(49, 71, 85, 1) 0%, rgba(38, 160, 218, 1) 51%, rgba(49, 71, 85, 1)  100%);
$css-outliner-start-button-color-light-webkit: -webkit-linear-gradient(180deg, rgba(49, 71, 85, 1) 0%, rgba(38, 160, 218, 1) 51%, rgba(49, 71, 85, 1)  100%);
$css-outliner-start-button-color-light-bg-image: linear-gradient(to right, rgba(49, 71, 85, 1) 0%, rgba(38, 160, 218, 1)  51%, rgba(49, 71, 85, 1)  100%);
$css-outliner-start-button-color-dark: rgb(58, 96, 115);
$css-outliner-start-button-color-dark-moz: -moz-linear-gradient(180deg, rgba(22, 34, 42, 1) 0%, rgba(58, 96, 115, 1)  51%, rgba(22, 34, 42, 1)  100%);
$css-outliner-start-button-color-dark-webkit: -webkit-linear-gradient(180deg, rgba(22, 34, 42, 1) 0%, rgba(58, 96, 115, 1)  51%, rgba(22, 34, 42, 1)  100%);
$css-outliner-start-button-color-dark-bg-image: linear-gradient(to right, rgba(22, 34, 42, 1) 0%, rgba(58, 96, 115, 1)  51%, rgba(22, 34, 42, 1)  100%);