
/**
*
*    3. Style for the content wrapper and its children
*
**/

#css-outliner-content {

    > #css-outliner-content-header {
        display: flex;
        position: absolute;
        justify-content: space-between;
        width: calc(100% - 32px);

        > #css-outliner-bug-wrapper {
            position: relative;

            > #css-outliner-bug-button {
                display: flex;
                cursor: pointer;
                width: 42px;
                height: 42px;
                transition: .3s;
                border-radius: 12px;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $css-outliner-buttons-hover-background-light-mode;

                    @media (prefers-color-scheme: dark) {
                        background: $css-outliner-buttons-hover-background-dark-mode
                    }
                }
            }
        }

        > #css-outliner-menu-button-wrapper {
            display: flex;
            position: relative;

            > #css-outliner-menu-button {
                display: flex;
                cursor: pointer;
                width: 42px;
                height: 42px;
                transition: .3s;
                border-radius: 12px;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $css-outliner-buttons-hover-background-light-mode;

                    @media (prefers-color-scheme: dark) {
                        background: $css-outliner-buttons-hover-background-dark-mode;
                    }
                }
            }

            > #css-outliner-menu-wrapper {
                position: absolute;
                right: 0;
                top: 42px;
                display: flex;
                justify-content: end;
                z-index: 999;

                > #css-outliner-menu-list {
                    display: flex;
                    flex-direction: column;
                    background: #1a1c1f;
                    border-radius: 12px;
                    position: absolute;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    > * {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding: 12px 20px;
                        transition: .3s;
                        cursor: pointer;

                        &:hover {
                            background: $css-outliner-buttons-hover-background-dark-mode;
                        }

                        > * {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 100%;
                            color: #bcc9db;
                        }
                    }
                }
            }
        }
    }

    > #css-outliner-content-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;

        > #css-outliner-ping-loading {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: $content-center-ping-loading-transform;

            > #css-outliner-circles {
                position: absolute;
                background-color: $content-circles-background-color;
                width: 100%;

                .css-outliner-circle {
                    position: absolute;
                    background: transparent;
                    border-radius: $content-circle-border-radius;
                    left: 50%;
                    top: 50%;
                    transform: $content-circle-transform;
                }

                #css-outliner-circles:nth-child(1) {
                    width: $content-circles-child1-radius;
                    height: $content-circles-child1-radius;
                    border: $content-circles-child1-border;
                }

                #css-outliner-circles:nth-child(2) {
                    width: $content-circles-child2-radius;
                    height: $content-circles-child2-radius;
                    border: $content-circles-child2-border;
                }

                #css-outliner-circles:nth-child(3) {
                    width: $content-circles-child3-radius;
                    height: $content-circles-child3-radius;
                    border: $content-circles-child3-border;
                }
            }
        }
    }

    > #css-outliner-content-footer {
        position: relative;
        width: 100%;
        background: $css-outliner-background-color-dark-mode;
        border-radius: $css-outliner-border-radius;

        > #css-outliner-start-scan-button-wrapper {
            display: flex;
            flex-direction: column;

            > #css-outliner-start-scan-center {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: $css-outliner-background-color-dark-mode;
                border-radius: $css-outliner-border-radius;
                padding: 20px;

                > #css-outliner-start-scan-center-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 15px;
                }

                > #css-outliner-start-scan-center-bottom {
                    display: flex;
                    gap: 8px;

                    > #css-outliner-start-scan-button[role=button] {
                        display: flex;
                        height: 44px;
                        border-radius: 12px;
                        align-items: center;
                        width: 100%;
                        justify-content: center;
                        cursor: pointer;
                        transition: .3s;
                        outline: 1px solid transparent;
                        background: $css-outliner-start-button-color-light;
                        background: $css-outliner-start-button-color-light-moz;
                        background: $css-outliner-start-button-color-light-webkit;
                        background-image: $css-outliner-start-button-color-light-bg-image;
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#314755",endColorstr="#26a0da",GradientType=1);

                        > #css-outliner-start-scan-button-title {

                        }

                        &:hover {
                            background-position: right center;
                            color: #fff;
                            text-decoration: none;
                        }
                        
                        @media (prefers-color-scheme: dark) {
                            background: $css-outliner-start-button-color-dark;
                            background: $css-outliner-start-button-color-dark-moz;
                            background: $css-outliner-start-button-color-dark-webkit;
                            background-image: $css-outliner-start-button-color-dark-bg-image;
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16222A",endColorstr="#3A6073",GradientType=1);
                        }
                    }
                }
            }
        }
    }
}

