/**
*            SUMMARY
*
*    1. Initializer
*    2. Popup
*    3. Content
*    4. Menu
*    5. Report bug
*    6. Scanned stuff
*    7. Animations
*
**/

/**
*
*    1. Initializing styless
*
**/

* {
    outline: none;
    user-select: none;
}

html, body {
    width: $popup-width;
    height: $popup-height;
    margin: 0;
    padding: 0;
    font-family: $css-outliner-font-family;
    font-weight: $popup-default-font-w;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    pointer-events: none;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
}

textarea {
    resize: none;
}

input, textarea {
    font-family: Golos,Arial,sans-serif;
    outline: none;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #bcc9db;
}

input[type='checkbox'] {

}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #bcc9db99;
}
