/**
*
*    5. Report a bug window and form
*
**/

#css-outliner-bug-report {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: $css-outliner-background-color-dark-mode;
    position: absolute;
    box-sizing: border-box;
    padding: 16px 20px 32px;
    gap: 24px;

    > #css-outliner-bug-report-header {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        width: 100%;

        > #css-outliner-bug-report-header-content {
            display: flex;
            flex-direction: column;

            > #css-outliner-bug-report-header-title {
                font-weight: $css-outliner-windows-title-font-w;
                font-size: 24px;
                line-height: 120%;
                color: $css-outliner-text-icons-color-dark-mode;
            }
        }

        > #css-outliner-bug-report-close-button {
            display: flex;
            cursor: pointer;
            width: 42px;
            height: 42px;
            transition: $css-outliner-content-transition;
            border-radius: 12px;
            align-items: center;
            justify-content: center;

            &:hover {
                background: $css-outliner-buttons-hover-background-dark-mode;
            }
        }
    }

    > #css-outliner-bug-report-form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        //overflow-y: overlay;
        max-height: 507px;
        height: 100%;

        > #css-outliner-bug-report-form {
            display: flex;
            flex-direction: column;

            > #css-outliner-bug-report-form-possible-reasons-input-container, #css-outliner-bug-report-form-email-input-container,
            #css-outliner-bug-report-form-show-email-input-container, #css-outliner-bug-report-form-title-input-container,
            #css-outliner-bug-report-form-message-input-container {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

            > #css-outliner-bug-report-form-possible-reasons-input-container {

                > #css-outliner-bug-report-form-blob {

                }
            }

            > #css-outliner-bug-report-form-email-input-container {

                > #css-outliner-bug-report-form-blob {

                }
            }

            > #css-outliner-bug-report-form-show-email-input-container {

                > #css-outliner-bug-report-form-blob {

                }
            }

            > #css-outliner-bug-report-form-message-input-container {

                > #css-outliner-bug-report-form-blob {

                }
            }

            > #css-outliner-bug-report-form-submit-button-container {

            }

            > label {
                color: #8597a3;
                top: 1.5rem;
                transition: .25s ease;
            }

            > input {
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                padding-top: 1.5rem;
                &+.input {
                    margin-top: 1.5rem;
                }
            }

            > textarea {

            }

            > input[type='submit'] {

            }
        }
    }
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

#css-outliner-bug-report-form-blob {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

$color_1: #eee;
$color_2: #65657b;
$color_3: #808097;
$color_4: #dc2f55;
$font-family_1: sans-serif;
$background-color_1: #000;
$background-color_2: #15172b;
$background-color_3: #303245;
$background-color_4: #08d;
$background-color_5: #06b;

body {
    align-items: center;
    background-color: $background-color_1;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.form {
    background-color: $background-color_2;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}
.title {
    color: $color_1;
    font-family: $font-family_1;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}
.subtitle {
    color: $color_1;
    font-family: $font-family_1;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}
.ic1 {
    margin-top: 40px;
}
.ic2 {
    margin-top: 30px;
}
.input {
    background-color: $background-color_3;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: $color_1;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    &:focus {
        ~ {
            .cut {
                transform: translateY(8px);
            }
            .placeholder {
                transform: translateY(-30px) translateX(10px) scale(0.75);
                color: $color_4;
            }
        }
    }
    &:not(:placeholder-shown) {
        ~ {
            .cut {
                transform: translateY(8px);
            }
            .placeholder {
                transform: translateY(-30px) translateX(10px) scale(0.75);
                color: $color_3;
            }
        }
    }
}
.cut {
    background-color: $background-color_2;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
}
.placeholder {
    color: $color_2;
    font-family: $font-family_1;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.submit {
    background-color: $background-color_4;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: $color_1;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
    &:active {
        background-color: $background-color_5;
    }
}
