/**
*    Root variables
*/
/**
*    Popup window
*/
/**
*    Content
*/
/**
*            SUMMARY
*
*    1. Initializer
*    2. Popup
*    3. Content
*    4. Menu
*    5. Report bug
*    6. Scanned stuff
*    7. Animations
*
**/
/**
*
*    1. Initializing styles
*
**/
* {
  outline: none;
  user-select: none;
}

html, body {
  width: 360px;
  height: 600px;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  pointer-events: none;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
}

/**
*
*    2. Styles for the popup window and main wrapper for the content
*
**/
#css-outliner-popup {
  position: absolute;
  font-size: 17;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
#css-outliner-popup > #css-outliner-base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(165.59deg, #2f3136 13.65%, #121416 81.89%), #ffffff;
}
@media (prefers-color-scheme: dark) {
  #css-outliner-popup > #css-outliner-base {
    background: linear-gradient(165.59deg, #2f3136 13.65%, #121416 81.89%), #ffffff;
  }
}
#css-outliner-popup > #css-outliner-base > #css-outliner-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#css-outliner-popup > #css-outliner-base > #css-outliner-container > #css-outliner-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}
#css-outliner-popup > #css-outliner-base > #css-outliner-container > #css-outliner-wrapper > #css-outliner-main {
  display: flex;
  width: 100%;
  position: relative;
}
#css-outliner-popup > #css-outliner-base > #css-outliner-container > #css-outliner-wrapper > #css-outliner-main > #css-outliner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 16px 32px;
  justify-content: space-between;
  position: relative;
}

/**
*
*    3. Style for the content wrapper and its children
*
**/
#css-outliner-content > #css-outliner-content-header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: calc(100% - 32px);
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-bug-wrapper {
  position: relative;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-bug-wrapper > #css-outliner-bug-button {
  display: flex;
  cursor: pointer;
  width: 42px;
  height: 42px;
  transition: 0.3s;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-bug-wrapper > #css-outliner-bug-button:hover {
  background: rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
  #css-outliner-content > #css-outliner-content-header > #css-outliner-bug-wrapper > #css-outliner-bug-button:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper {
  display: flex;
  position: relative;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-button {
  display: flex;
  cursor: pointer;
  width: 42px;
  height: 42px;
  transition: 0.3s;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-button:hover {
  background: rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
  #css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-button:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-wrapper {
  position: absolute;
  right: 0;
  top: 42px;
  display: flex;
  justify-content: end;
  z-index: 999;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-wrapper > #css-outliner-menu-list {
  display: flex;
  flex-direction: column;
  background: #1a1c1f;
  border-radius: 12px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-wrapper > #css-outliner-menu-list > * {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  transition: 0.3s;
  cursor: pointer;
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-wrapper > #css-outliner-menu-list > *:hover {
  background: rgba(255, 255, 255, 0.08);
}
#css-outliner-content > #css-outliner-content-header > #css-outliner-menu-button-wrapper > #css-outliner-menu-wrapper > #css-outliner-menu-list > * > * {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #bcc9db;
}
#css-outliner-content > #css-outliner-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.8);
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading > #css-outliner-circles {
  position: absolute;
  background-color: #000;
  width: 100%;
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading > #css-outliner-circles .css-outliner-circle {
  position: absolute;
  background: transparent;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading > #css-outliner-circles #css-outliner-circles:nth-child(1) {
  width: 214px;
  height: 214px;
  border: 1px solid rgba(197, 211, 206, 0.1);
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading > #css-outliner-circles #css-outliner-circles:nth-child(2) {
  width: 308px;
  height: 308px;
  border: 1px solid rgba(197, 211, 206, 0.05);
}
#css-outliner-content > #css-outliner-content-center > #css-outliner-ping-loading > #css-outliner-circles #css-outliner-circles:nth-child(3) {
  width: 388px;
  height: 388px;
  border: 1px solid rgba(197, 211, 206, 0.02);
}
#css-outliner-content > #css-outliner-content-footer {
  position: relative;
  width: 100%;
  background: rgb(34, 36, 41);
  border-radius: 24px;
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper {
  display: flex;
  flex-direction: column;
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(34, 36, 41);
  border-radius: 24px;
  padding: 20px;
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center > #css-outliner-start-scan-center-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center > #css-outliner-start-scan-center-bottom {
  display: flex;
  gap: 8px;
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center > #css-outliner-start-scan-center-bottom > #css-outliner-start-scan-button[role=button] {
  display: flex;
  height: 44px;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  outline: 1px solid transparent;
  background: rgb(38, 160, 218);
  background: -moz-linear-gradient(180deg, rgb(49, 71, 85) 0%, rgb(38, 160, 218) 51%, rgb(49, 71, 85) 100%);
  background: -webkit-linear-gradient(180deg, rgb(49, 71, 85) 0%, rgb(38, 160, 218) 51%, rgb(49, 71, 85) 100%);
  background-image: linear-gradient(to right, rgb(49, 71, 85) 0%, rgb(38, 160, 218) 51%, rgb(49, 71, 85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#314755",endColorstr="#26a0da",GradientType=1);
}
#css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center > #css-outliner-start-scan-center-bottom > #css-outliner-start-scan-button[role=button]:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  #css-outliner-content > #css-outliner-content-footer > #css-outliner-start-scan-button-wrapper > #css-outliner-start-scan-center > #css-outliner-start-scan-center-bottom > #css-outliner-start-scan-button[role=button] {
    background: rgb(58, 96, 115);
    background: -moz-linear-gradient(180deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 51%, rgb(22, 34, 42) 100%);
    background: -webkit-linear-gradient(180deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 51%, rgb(22, 34, 42) 100%);
    background-image: linear-gradient(to right, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 51%, rgb(22, 34, 42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16222A",endColorstr="#3A6073",GradientType=1);
  }
}

/**
*
*    4. Menu when pushing the menu button and the menu button styles
*
**/
/**
*
*    5. Report a bug window and form
*
**/
#css-outliner-bug-report {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(34, 36, 41);
  position: absolute;
  box-sizing: border-box;
  padding: 16px 20px 32px;
  gap: 24px;
}
#css-outliner-bug-report > #css-outliner-bug-report-header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  width: 100%;
}
#css-outliner-bug-report > #css-outliner-bug-report-header > #css-outliner-bug-report-header-content {
  display: flex;
  flex-direction: column;
}
#css-outliner-bug-report > #css-outliner-bug-report-header > #css-outliner-bug-report-header-content > #css-outliner-bug-report-header-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: rgb(188, 201, 219);
}
#css-outliner-bug-report > #css-outliner-bug-report-header > #css-outliner-bug-report-close-button {
  display: flex;
  cursor: pointer;
  width: 42px;
  height: 42px;
  transition: 0.3s;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
#css-outliner-bug-report > #css-outliner-bug-report-header > #css-outliner-bug-report-close-button:hover {
  background: rgba(255, 255, 255, 0.08);
}
/**
*
*    6. Scanned stuff window, styles for all interactions
*
**/
/**
*
*    7. Animations
*
**/
@keyframes scale-z {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes wave-error {
  0% {
    border-color: #33363d;
  }
  50% {
    border-color: #ff4545;
  }
  to {
    border-color: #33363d;
  }
}
@keyframes changing-color {
  0% {
    --default-button-first-color: #28c1f1;
    --default-button-second-color: #28f1a9 ;
  }
  50% {
    --default-button-first-color: #28f1a9;
    --default-button-second-color: #28c1f1 ;
  }
  to {
    --default-button-first-color: #28c1f1;
    --default-button-second-color: #28f1a9 ;
  }
}
@keyframes rotate-load {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -400;
  }
}

/*# sourceMappingURL=main.css.map */
