
/**
*
*    2. Styles for the popup window and main wrapper for the content
*
**/

#css-outliner-popup {
    position: absolute;
    font-size: 17px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    > #css-outliner-base {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(165.59deg, #2f3136 13.65%, #121416 81.89%), #ffffff;

        > #css-outliner-container {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;

            > #css-outliner-wrapper {
                display: flex;
                flex: 1 1 auto;
                overflow: hidden;

                > #css-outliner-main {
                    display: flex;
                    width: 100%;
                    position: relative;

                    > #css-outliner-content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 16px 16px 32px;
                        justify-content: space-between;
                        position: relative;
                    }
                }
            }
        }
    }
}