@import "outline.css";
@import "background.css";
@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 600;
    src: local("fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto-Regular.ttf");
}
@font-face {
    font-family: "Code";
    font-style: normal;
    font-weight: 400;
    src: local("SourceCodePro-Regular.ttf");
}
#css-outliner {
    position: fixed;
    z-index: 9999;
}
.hide-fixed [is-fixed] {
    visibility: hidden !important;
    opacity: 0 !important;
}
[selected-element] {
    outline: 1px solid rgb(40, 241, 169, 1) !important
}
.hovered-element {
    outline: 1px solid rgba(248, 113, 113, 0.85) !important
}