@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    main #app {
        @apply text-base text-white scroll-smooth;
        font-family: 'Poppins', sans-serif !important;
    }
    kbd {
        @apply px-2 py-1.5 text-xs font-semibold text-white bg-horizon-hover border border-white-hover rounded-md;
    }
}

@layer components {
    /* ========================== UI ========================== */
    /* App Container */
    #css-outliner-in-root-container {
        @apply fixed z-full backdrop-blur-lg top-6 rounded transition duration-200;
        background: linear-gradient(161deg, rgb(47, 49, 54, 0.7) 13.65%, rgb(18, 20, 22, 0.7) 81.89%), rgb(255, 255, 255, 0.001);
    }
    #css-outliner-wrapper {
        @apply max-h-for-popup min-h-for-popup w-85 p-4 flex flex-col h-full transition duration-200;
    }

    /* Header */
    #css-outliner-header {
        @apply bg-opacity-5 flex-shrink-0 w-full h-16 flex items-center justify-between -mt-3 rounded text-white transition duration-200;
    }
    #css-outliner-header-buttons {
        @apply bg-white-hover bg-opacity-5 hover:bg-primary-horizon border border-white-hover hover:border-primary rounded transition duration-200;
    }
    #css-outliner-header-buttons button {
        @apply hover:text-primary transition duration-200;
    }
    #css-outliner-header-buttons button svg {
        @apply hover:fill-primary transition duration-200;
    }

    /* Content */
    #css-outliner-content {
        @apply pt-2 pb-4 flex-1 inline-table items-center h-full overflow-auto transition duration-200;
    }

    /* Content - Element Proprietes Cursor */
    #css-outliner-element-details-hover-box {
        @apply absolute bg-horizon w-70 max-h-100 inset-0 m-0 p-3 border-horizon-hover bottom-auto rounded shadow-2xl z-full;
    }
    #css-outliner-element-details {}
    #css-outliner-element-selectors {
        @apply line-clamp-2 font-bold text-base mb-1 [&>*:nth-child(1)]:text-red-500 [&>*:nth-child(2)]:text-primary [&>*:nth-child(3)]:text-white;
    }
    #css-outliner-element-font {
        @apply text-ellipsis overflow-hidden mb-3;
    }
    #css-outliner-element-font > span {
        @apply inline-block mr-1 text-lg font-bold first-letter:font-light first-letter:uppercase first-letter:text-lg;
    }
    .css-outliner-element-details-computed {
        @apply px-10 py-8 bg-primary/20 rounded relative mb-2 text-sm;
    }
    .css-outliner-element-details-computed span:first-of-type {
        @apply absolute left-0 top-0 ml-2 mt-1 text-sm;
    }
    .css-outliner-element-details-computed .horizontal-center {
        @apply absolute left-1/2 -translate-x-1/2;
    }
    .css-outliner-element-details-computed .horizontal-center .top {
        @apply top-[5px];
    }
    .css-outliner-element-details-computed .horizontal-center .bottom {
        @apply bottom-[5px];
    }
    .css-outliner-element-details-computed .vertical-center {
        @apply absolute top-1/2 -translate-x-1/2;
    }
    .css-outliner-element-details-computed .left {
        @apply ml-3 left-[5px];
    }
    .css-outliner-element-details-computed .right {
        @apply mr-3 right-[5px];
    }
    #css-outliner-element-details-size-properties {
        @apply bg-primary/20 rounded text-center p-2;
    }
    #css-outliner-element-details-shortcut-tip {
        @apply text-sm text-white mt-4 font-light;
    }

    /* Content - Element Proprietes Page */
    /* Content - Welcome Page */
    #css-outliner-welcome-wrapper {
        @apply flex flex-col h-full;
    }
    #css-outliner-welcome-content-wrapper {
        @apply py-10 mt-[5%] text-center;
    }
    #css-outliner-welcome-content-wrapper span {
        @apply inline-block p-6 rounded mb-4 bg-transparent bg-opacity-5;
    }
    #css-outliner-welcome-content-wrapper span svg {
        @apply w-32 h-32;
    }
    #css-outliner-welcome-content-wrapper h1 {
        @apply mb-8 text-lg font-bold text-white;
    }

    /* Content - Page Assets Page */
    /* Content - Page Colors Page */
    /* Content - Development Tools Page */
    /* Content - App Settings Page */

    /* Navigation */
    #css-outliner-navigation-menu {
        @apply bg-horizon bg-opacity-5 flex-shrink-0 w-full h-16 flex items-center border border-horizon-hover justify-between px-4 rounded text-white;
    }
    #css-outliner-navigation-menu button {
        @apply p-2 bg-transparent border border-transparent rounded hover:border-primary hover:text-primary hover:bg-white-hover transition duration-200;
    }


    #css-outliner-text-editor {
        @apply font-code text-base pt-1;
    }

    /* Spinner */
    .css-outliner-loading-spinner {
        @apply inline-block relative;
    }
    .css-outliner-loading-spinner div {
        @apply box-border block absolute w-4/5 h-4/5 m-1/10 border-8 border-solid border-spinner rounded-[50%] animate-spinner;
    }

    /* ========================== Errors ========================== */
    /* SVG Not Found Error */
    /*#css-outliner-svg-error-modal-wrapper {*/
    /*    @apply absolute top-2/4 left-2/4 w-100 h-100 -mt-48 -ml-48 rounded-xl shadow-error-modal-wrapper overflow-hidden bg-horizon text-horizon antialiased;*/
    /*}*/
    /*#css-outliner-svg-error-modal {*/
    /*    @apply absolute w-70 h-56 top-24 left-14 bg-white rounded-xl shadow-error-modal text-center overflow-hidden animate-show-modal;*/
    /*}*/
    /*#css-outliner-svg-error-modal .hide {*/
    /*    @apply animate-hide-modal;*/
    /*}*/
    /*#css-outliner-svg-error-modal svg {*/
    /*    @apply mt-6;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-title {*/
    /*    @apply block text-lg leading-6 font-normal mt-3.5 mb-1.5 mx-0;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-message {*/
    /*    @apply text-sm font-light leading-5 m-0 py-0 px-8 ;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-button {*/
    /*    @apply absolute h-10 bottom-0 left-0 right-0 bg-red-500 text-white leading-10 text-sm font-normal cursor-pointer transition duration-300 ease-in-out hover:bg-red-600;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-message span {*/
    /*    @apply py-1.5 px-0.5 bg-gray-200 text-gray-900 text-2xl leading-4 font-semibold rounded-xl border border-gray-900;*/
    /*}*/
}

@layer utilities {
    .filter-none {
        filter: none;
    }
    .filter-grayscale {
        filter: grayscale(100%);
    }
    /*@media (max-height: 480px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-bottom: 5%;*/
    /*    }*/
    /*}*/
    /*@media (min-height: 550px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-top: 15%;*/
    /*    }*/
    /*}*/
    /*@media (min-height: 700px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-top: 20%;*/
    /*    }*/
    /*}*/
    /*@media (min-height: 800px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-top: 50%;*/
    /*    }*/
    /*}*/
    /*@media (min-height: 1024px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-top: 60%;*/
    /*    }*/
    /*}*/
    /*@media (min-height: 1561px) {*/
    /*    #css-outliner-welcome-content-wrapper {*/
    /*        margin-top: 130%;*/
    /*    }*/
    /*}*/
}