@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    * {
        @apply transition-200 scroll-smooth overflow-x-hidden;
    }
    main#app {
        @apply text-base text-white font-default scroll-smooth;
    }
    kbd {
        @apply px-2 py-1.5 text-xs font-semibold text-white bg-horizon-hover border border-white-hover rounded-md;
    }
    input:focus,
    button:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }
}

@layer components {
    /* ========================== UI ========================== */
    /* App Container */
    #css-outliner-in-root-container {
        @apply fixed z-full backdrop-blur-lg top-6 rounded;
        background: linear-gradient(161deg, rgb(47, 49, 54, 0.7) 13.65%, rgb(18, 20, 22, 0.7) 81.89%), rgb(255, 255, 255, 0.001);
    }
    #css-outliner-wrapper {
        @apply max-h-for-popup min-h-for-popup w-85 p-4 flex flex-col h-full;
    }

    /* Header */
    #css-outliner-header {
        @apply bg-opacity-5 flex-shrink-0 w-full h-16 flex items-center justify-between -mt-3 rounded text-white;
    }
    #css-outliner-header-buttons {
        @apply bg-white-hover bg-opacity-5 hover:bg-primary-horizon border border-white-hover hover:border-primary rounded;
    }
    #css-outliner-header-buttons button {
        @apply hover:text-primary;
    }
    #css-outliner-header-buttons button svg {
        @apply hover:fill-primary;
    }

    /* Content */
    #css-outliner-content {
        @apply pt-1.5 pb-4 py-2 -mx-4 flex-1 overflow-auto scrollbar items-center;
    }

    /* Content - Element Proprieties Cursor */
    #css-outliner-element-details-hover-box {
        @apply absolute bg-horizon w-70 max-h-100 inset-0 m-0 p-3 border-horizon-hover bottom-auto rounded shadow-2xl z-full do-not-apply-transition;
    }
    #css-outliner-element-details-hover-box > * {
        @apply do-not-apply-transition;
    }
    #css-outliner-element-details {}
    #css-outliner-element-selectors {
        @apply line-clamp-2 font-bold text-base mb-1 [&>*:nth-child(1)]:text-red-500 [&>*:nth-child(2)]:text-primary [&>*:nth-child(3)]:text-white;
    }
    #css-outliner-element-font {
        @apply text-ellipsis overflow-hidden mb-3 flex items-baseline;
    }
    #css-outliner-element-font > span {
        @apply inline-block mr-3 text-lg font-bold first-letter:font-light first-letter:uppercase first-letter:text-lg;
    }
    .css-outliner-element-details-computed {
        @apply px-10 py-8 bg-primary/20 rounded relative mb-2 text-sm;
    }
    .css-outliner-element-details-computed span:first-of-type {
        @apply absolute left-0 top-0 ml-2 mt-1 text-sm;
    }
    .css-outliner-element-details-computed .horizontal-center {
        @apply absolute left-1/2 -translate-x-1/2;
    }
    .css-outliner-element-details-computed .horizontal-center .top {
        @apply top-[5px];
    }
    .css-outliner-element-details-computed .horizontal-center .bottom {
        @apply bottom-[5px];
    }
    .css-outliner-element-details-computed .vertical-center {
        @apply absolute top-1/2 -translate-x-1/2;
    }
    .css-outliner-element-details-computed .left {
        @apply ml-3 left-[5px];
    }
    .css-outliner-element-details-computed .right {
        @apply mr-3 right-[5px];
    }
    #css-outliner-element-details-size-properties {
        @apply bg-primary/20 rounded text-center p-2;
    }
    #css-outliner-element-details-shortcut-tip {
        @apply text-sm text-white pt-2 font-light;
    }

    /* Content - Welcome Page */
    #css-outliner-welcome-wrapper {
        @apply flex flex-col h-full;
    }
    #css-outliner-welcome-content-wrapper {
        @apply py-10 text-center;
    }
    #css-outliner-welcome-content-wrapper > span {
        @apply inline-block p-6 rounded mb-4 bg-transparent bg-opacity-5;
    }
    #css-outliner-welcome-content-wrapper > span > svg {
        @apply w-32 h-32;
    }
    #css-outliner-welcome-content-wrapper > h1 {
        @apply mb-8 text-lg font-bold text-white;
    }
    #css-outliner-welcome-shortcuts-list {
        @apply relative inline-block w-4/5;
    }
    #css-outliner-welcome-shortcuts-dropdown {
        @apply cursor-pointer flex items-center text-sm text-white p-3 bg-white-hover border border-white-hover rounded;
    }
    #css-outliner-welcome-shortcuts-dropdown-content {
        @apply mt-3 p-3;
    }
    #css-outliner-welcome-shortcuts-dropdown-content > .css-outliner-welcome-shortcuts-dropdown-row {
        @apply py-3 hover:border-b hover:border-b-white-hover;
    }
    .css-outliner-welcome-shortcuts-dropdown-item-text {
        @apply leading-none pt-1 -mb-1/4 w-full;
    }
    .css-outliner-welcome-shortcuts-dropdown-item-text:nth-child(4) {
        @apply -mt-19/50;
    }
    .css-outliner-welcome-shortcuts-dropdown-item-text > span {
        @apply text-white font-bold text-base;
    }
    .css-outliner-welcome-shortcuts-dropdown-item-text > p {
        @apply text-white/80 pt-1 text-justify invisible opacity-0 overflow-x-hidden overflow-y-hidden -translate-y-full;
    }
    .css-outliner-welcome-shortcuts-dropdown-row:hover > .css-outliner-welcome-shortcuts-dropdown-item-text {
        @apply mb-0;
    }
    .css-outliner-welcome-shortcuts-dropdown-row:hover > .css-outliner-welcome-shortcuts-dropdown-item-text > p {
        @apply translate-y-0 duration-500 opacity-100 visible overflow-x-hidden overflow-y-hidden;
    }

    /* Content - Element Proprieties Page */
    #css-outliner-element-properties-page-tabs-nav {
        @apply flex relative mb-2 text-sm.5 bg-white-hover rounded border border-white-hover cursor-pointer;
    }
    #css-outliner-element-properties-page-tabs-nav > button {
        @apply flex w-1/2 items-center justify-center p-2 cursor-pointer;
    }
    #css-outliner-element-properties-page-tabs-nav > .css-outliner-element-properties-tabs-glider {
        @apply absolute border border-primary w-glider h-glider flex z-10 rounded bg-primary/20;
    }
    #css-outliner-element-properties-page-tabs {
        @apply flex w-tabs;
    }

    /* Content - Element Proprieties Tab */
    #css-outliner-element-properties-tab {
        @apply w-tab flex-col -translate-x-switch-pages;
    }
    #css-outliner-element-properties-tab.css-outliner-element-properties-active-tab {
        @apply will-change-transform translate-x-0;
    }

    /* Content - Element Attributes Tab */
    #css-outliner-element-attributes-tab {
        @apply before:invisible w-tab flex-col translate-x-switch-pages;
    }
    #css-outliner-element-attributes-tab.css-outliner-element-properties-active-tab {
        @apply ml-4 -mr-4 border-primary will-change-transform -translate-x-switch-pages;
    }
    #css-outliner-element-attributes-tab-wrapper {
        @apply w-[307px] ml-auto;
    }
    #css-outliner-element-attributes-tab-attribute-form {
        @apply flex justify-between items-stretch gap-2 mb-2;
    }
    #css-outliner-element-attributes-tab-attribute-name-input {
        @apply w-full rounded bg-transparent px-4 mb-1.5 py-2 border border-white-hover focus:border-primary;
    }
    #css-outliner-element-attributes-tab-attribute-value-input {
        @apply w-full rounded bg-transparent px-4 py-2 border border-white-hover focus:border-primary;
    }
    #css-outliner-element-attributes-tab-attribute-submit-button {
        @apply px-4 py-2 h-full rounded text-primary border border-transparent bg-primary-horizon hover:border-primary;
    }

    /* Content - Page Assets Page */
    /* Content - Page Colors Page */
    /* Content - Development Tools Page */
    /* Content - App Settings Page */

    /* Navigation */
    #css-outliner-navigation-menu {
        @apply bg-horizon bg-opacity-5 flex-shrink-0 w-full h-16 flex items-center border border-horizon-hover justify-between px-4 rounded text-white;
    }
    #css-outliner-navigation-menu button {
        @apply p-2 bg-transparent border border-transparent rounded hover:border-primary hover:text-primary hover:bg-white-hover;
    }


    #css-outliner-text-editor {
        @apply font-code text-base pt-1;
    }

    /* Spinner */
    .css-outliner-loading-spinner {
        @apply inline-block relative;
    }
    .css-outliner-loading-spinner div {
        @apply box-border block absolute w-4/5 h-4/5 m-1/10 border-8 border-solid border-spinner rounded-[50%] animate-spinner;
    }

    /* ========================== Errors ========================== */
    /* SVG Not Found Error */
    /*#css-outliner-svg-error-modal-wrapper {*/
    /*    @apply absolute top-2/4 left-2/4 w-100 h-100 -mt-48 -ml-48 rounded-xl shadow-error-modal-wrapper overflow-hidden bg-horizon text-horizon antialiased;*/
    /*}*/
    /*#css-outliner-svg-error-modal {*/
    /*    @apply absolute w-70 h-56 top-24 left-14 bg-white rounded-xl shadow-error-modal text-center overflow-hidden animate-show-modal;*/
    /*}*/
    /*#css-outliner-svg-error-modal .hide {*/
    /*    @apply animate-hide-modal;*/
    /*}*/
    /*#css-outliner-svg-error-modal svg {*/
    /*    @apply mt-6;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-title {*/
    /*    @apply block text-lg leading-6 font-normal mt-3.5 mb-1.5 mx-0;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-message {*/
    /*    @apply text-sm font-light leading-5 m-0 py-0 px-8 ;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-button {*/
    /*    @apply absolute h-10 bottom-0 left-0 right-0 bg-red-500 text-white leading-10 text-sm font-normal cursor-pointer transition duration-300 ease-in-out hover:bg-red-600;*/
    /*}*/
    /*#css-outliner-svg-error-modal #css-outliner-svg-error-modal-message span {*/
    /*    @apply py-1.5 px-0.5 bg-gray-200 text-gray-900 text-2xl leading-4 font-semibold rounded-xl border border-gray-900;*/
    /*}*/
}

@layer utilities {
    .do-not-apply-transition {
        @apply transition-none;
    }
    .transition-200 {
        @apply transition duration-200;
    }
    .filter-none {
        filter: none;
    }
    .filter-grayscale {
        filter: grayscale(100%);
    }
    .scrollbar::-webkit-scrollbar {
        @apply w-1 h-1 transition duration-200;
    }
    .scrollbar::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-primary-horizon/20 rounded transition duration-200;
    }
    .scrollbar::-webkit-scrollbar-thumb:vertical:hover,
    .scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
        @apply bg-primary/60;
    }
    .scrollbar::-webkit-scrollbar-thumb:vertical:active,
    .scrollbar::-webkit-scrollbar-thumb:horizontal:active {
        @apply bg-primary/60;
    }
    .glider {
        @apply absolute flex h-full w-1/2 z-10 bg-primary-horizon rounded transition-200;
    }
}